.wrapper {
    height: 600px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 20px;
  }
  .l-left{
      display: flex;
      justify-content: center;
      margin: 2rem;
      width: 60%;
      /* border: 1px solid red; */
  }
  .l-left .logo{
      font-family: BioRhyme;
      padding-left: 1rem;
      font-size: 30px;
  }
  .l-left .form-title{
      padding-left: 1rem;
      font-size: 30px;
      font-weight: 700;
  }
  .login-form{
      display: flex;
      flex-direction: column;
      padding-top: 1.5rem;
      padding-left: 1rem;
  }
  .login-form>label{
      font-size: 15px;
      font-weight: 500;
      padding-top: 1rem;
      padding-bottom: 1rem;
  }
  .login-form>input{
      height: 30px;
      padding: 10px;
      width: 300px;
      border: 1px solid;
      background-color: transparent;
  }
  .login-btn{
      height: 30px;
      background-color:#2196F3;
      color: white;
      width: 300px;
      margin-top: 2rem;
      border: none;
      cursor: pointer;
  }
  .OR{
      display: flex;
      justify-content: center;
      padding-top: 20px;
  }
  .google{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      height: 30px;
      width: 300px;
      margin: 1rem;
      background-color:transparent;
      cursor: pointer;
      border: none;
      border-radius: 40px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 22px 70px 4px;
  }
  .google>p{
      font-size: 15px;
      padding-left: 10px;
  }
  .google>img{
      height: 15px;
      width: 15px;
  }
  .l-right{
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .forget-pass{
      display: flex;
      justify-content: center;
      color:blue;
      font-size: 15px;
     
  }
  .forget-pass:hover{
      cursor: pointer;
  }
  .register{
      display: flex;
      justify-content: center;
      margin-top: 3rem;
  
  }
  .l-right-img {
    height: 80%;
    /* border: 2px solid orchid; */
    height: 400px;
    width: 400px;
  }
  
  